.one-movie {
    width: 300px;
    box-shadow: 0px 0px 15px #db0000;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.one-movie img {
    width: 150px;
    height: 150px;
}