body {
  background: #141414;
  color: white;
}
.movie-section {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}